/* Definindo o fundo da página com a imagem */
body {
    font-family: cascadia code, sans-serif;
    background-image: url('Imagens/tecno.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Contêiner do formulário */
  .container {
    background: linear-gradient(
      #f2f2f2, #333
    );
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  /* Título do formulário */
  h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
  }
  
  /* Estilo dos labels */
  label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #333;
  }
  * {
    box-sizing: border-box;
  }

  /* Estilo dos campos de entrada */
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Ajustando a área de texto */
  textarea {
    resize: vertical;
  }
  
  /* Estilo do botão */
  button {
    width: 100%;
    padding: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }