.menu-lateral {
  position: fixed; /* Fixa o menu no canto esquerdo da tela */
  top: 0;
  left: 0;
  width: 200px; /* Largura do menu */
  height: 100%; /* Ocupa toda a altura da tela */
  background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para o menu */
}

.menu-lateral ul {
  list-style: none; /* Remove os marcadores da lista */
  padding: 0;
  margin: 0;
}

.menu-lateral ul li {
  margin-bottom: 15px; /* Espaçamento entre os links */
}

.menu-lateral ul li a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: white; /* Cor do texto dos links */
  font-size: 1.2rem; /* Tamanho da fonte */
  display: block; /* Faz o link ocupar toda a largura do menu */
  padding: 10px;
  border-radius: 4px; /* Bordas arredondadas nos links */
  transition: background-color 0.3s; /* Animação suave ao passar o mouse */
}

.menu-lateral ul li a:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse */
}

/* Definindo o fundo da página com a imagem */
body {
    font-family: cascadia code, sans-serif;
    background-image: url('Imagens/backg-ex5.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Contêiner do formulário */
  .container {
    background-color: #fff;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  /* Título do formulário */
  h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
  }
  
  /* Estilo dos labels */
  label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #333;
  }
  * {
    box-sizing: border-box;
  }

  /* Estilo dos campos de entrada */
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Ajustando a área de texto */
  textarea {
    resize: vertical;
  }
  
  /* Estilo do botão */
  button {
    width: 100%;
    padding: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }