body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black; /* Cor de fundo */
    background-image: url('imagem/fundo.jpeg'); /* Caminho para a imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    color: rgb(255, 0, 0);
    font-family: Arial, sans-serif;
}


.container {
    font-size: 5rem;
    font-weight: bold;
}


#contador::after {
    content: "10"; 
    animation: contagem 10s steps(10) forwards;
}

/* Definição dos números da contagem */
@keyframes contagem {
    0% { content: "10"; }
    10% { content: "9"; }
    20% { content: "8"; }
    30% { content: "7"; }
    40% { content: "6"; }
    50% { content: "5"; }
    60% { content: "4"; }
    70% { content: "3"; }
    80% { content: "2"; }
    90% { content: "1"; }
    100% { content: "Feliz ano novo"; } /* Fim da contagem */
}
