body {
    background-image: url('Imagens/pexels-maumascaro-376533.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .texto {
    font-family: cascadia code, sans-serif;
    font-weight: bold;
    color: rgb(235, 231, 231);
    font-size: 2rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center; 
  }
  