/* Fundo da página com a imagem fornecida */
body {
  font-family: cascadia-code, sans-serif;
  background-image: url('Imagens/Backg-ex13.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Título */
h1 {
  text-align: center;
  color: #ffe603;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Contêiner geral das promoções */
.label-produtos {
  display: flex;
  gap: 20px; /* Espaçamento entre os produtos */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-wrap: wrap; /* Permite quebra de linha em telas menores */
  justify-content: center; /* Centraliza os produtos */
}

/* Estilo de cada promoção */
.promocao {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Cada promoção ocupa 30% da largura */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Estilo das imagens */
.promocao img {
  width: 125px;
  height: 128px;
  margin-bottom: 10px;
}

/* Estilo do texto das promoções */
.info-promocao {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

/* Estilo do preço original */
.preco del {
  color: #333;
  font-size: 1.2rem;
  text-decoration: line-through;
}

/* Estilo do preço com desconto */
.preco-desconto {
  color: #ffe609;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 5px;
}