
/* Fundo da página com a imagem fornecida */
body {
  font-family: Arial, sans-serif;
  background-image: url('Imagens/tecno.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contêiner geral com largura ajustada */
.container {
  background-color: rgba(9, 175, 204, 0.8); /* Fundo branco semi-transparente */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%; /* Diminuindo a largura do formulário */
  max-width: 900px; /* Largura máxima */
  box-sizing: border-box;
  overflow: auto;
}

/* Título */
h1 {
  background-color: #004b95;
  text-align: center;
  color: #000000;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Estilo das promoções */
.promocao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.promocao img {
  max-width: 250px; /* Diminuindo o tamanho das imagens */
  height: auto;
  border-radius: 8px;
}

.info-promocao {
  flex: 1;
  padding-left: 20px;
}

.info-promocao h2 {
  font-size: 1.8rem;
  color: #000000;
  margin: 0;
}

.info-promocao p {
  color: #fdfdfd;
  font-size: 1.1rem;
  line-height: 1.5;
}

/* Estilo para os preços */
.preco {
  margin-top: 10px;
  font-size: 1.4rem;
}

.preco del {
  color: #ff0000;
  font-size: 1.2rem;
  text-decoration: line-through;
}

.preco-desconto {
  color: #09ff00;  /* Usando uma cor mais quente para o preço com desconto */
  font-size: 1.6rem;
  font-weight: bold;
}